@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding: 3rem; 
	padding-bottom: 5rem; 
	gap: 4rem;
  max-width: none;
}

:root {
  --background: linear-gradient(165deg, #0a0a0a, #032648);
  --foreground: #ededed;
}

@media (prefers-color) {
  :root {
    --background: linear-gradient(165deg, #0a0a0a, #032648);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-lato);
}
