.navbar {
	padding: 2rem 0;
	box-shadow: 0px -2px 6px 0px;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between; 
    flex-wrap: wrap;
}

.logo {
    font-family: var(--font-great_vibes) ;
	font-size: 2.6rem;
	color: #fff;
	text-decoration: none;
	
}

.navList {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	justify-content: center; 
}

.navLink {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease;
}

.navLink:hover,
.navLink:focus {
	color: #1164b7;
}

.active {
	color: #1164b7;
	font-weight: bold;
}

@media (max-width: 480px) {
    .container {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}
